/*Geral*/
*{
    background-color: #3f2832;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

.Container {
    margin: 0px auto;
    max-width: 1600px;
    width: 50vw; 
    text-align: center;
}

h1 {
    margin: 10px;
}

h2 {
    font-size: larger;
}

/*Skills icons*/

.logo {
    height: 50px;
    margin: 15px 10px;
}

.ability-icon {
    margin: 15px;
}

/*Social Media Links*/

.icon-sm {      
    height: 70px;
    text-align: center;
    margin: 15px 15px;
}

.social-medias{
    display: flex;
    margin: 15px;
    justify-content: center;
}
/*About the portfolio author*/

.about-author{      
    margin-top: 15px;
    margin-bottom: 150px;
    background-color: #2c1821;
    padding: 20px; 
    border-radius: 10px;
}

h3{
    background-color: #2c1821;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: larger;
}

/*Portfolio Shows*/

.portfolio{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.portfolio div{
    flex: 1 1 200px;
    margin: 15px;
}

.portfolio a {
    text-decoration: none;
    text-align: center;
}

.game-image {
    height: 360px;
    transition: transform 50ms;
}

.games p{
    background-color: rgba(0, 0, 0, 0.281);
    padding: 0.4em;
    transition: background-color 50ms;
}

/*Player Interactions*/

.games p:hover{
    background-color: rgba(0, 0, 0, 0.623);
}

.game-image:hover{
    transform: scale(1.1);
}
